Microsoft.Flow/flows/0130f9e7-3555-4bf1-9a8f-94576176ba41/definition.json
{"name":"f22fa6b9-1dfb-454b-b6e3-9c0167f1de64","id":"/providers/Microsoft.Flow/flows/f22fa6b9-1dfb-454b-b6e3-9c0167f1de64","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"lakh","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"81867338-c733-4404-8924-d321196e02b8","type":"User","tenantId":"46a0aecd-e8b0-409b-9472-3ea6193ea88f"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2024-12-21T17:16:49.5200817Z","connectionKeySavedTimeKey":"2024-12-21T17:16:49.5200817Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"},"$connections":{"defaultValue":{},"type":"Object"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"412b403a-571a-4ead-8753-a56fee899d47"},"type":"Request","kind":"PowerAppV2","inputs":{"schema":{"type":"object","properties":{},"required":[]}}}},"actions":{"Get_rows":{"runAfter":{},"metadata":{"operationMetadataId":"d44e4cc2-501a-42bb-953f-2401316f7001"},"type":"OpenApiConnection","inputs":{"parameters":{"table":"[pharmacy].[medicine]","$filter":"category eq 'Random'"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_mysql","connectionName":"shared_mysql_1","operationId":"GetItems"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":10000}}},"Initialize_variable":{"runAfter":{"Get_rows":["Succeeded"]},"metadata":{"operationMetadataId":"64ca6bba-5b65-4cd6-aeca-9b0ba386da7f"},"type":"InitializeVariable","inputs":{"variables":[{"name":"CollectedResults","type":"array"}]}},"Apply_to_each":{"foreach":"@variables('CollectedResults')","actions":{"Append_to_array_variable":{"metadata":{"operationMetadataId":"c32225d0-55e3-45ac-b015-81546803f07e"},"type":"AppendToArrayVariable","inputs":{"name":"CollectedResults","value":"@items('Apply_to_each')"}}},"runAfter":{"Initialize_variable":["Succeeded"]},"metadata":{"operationMetadataId":"d181cdb8-1505-4d57-b121-2579881075a5"},"type":"Foreach"},"Respond_to_a_Power_App_or_flow":{"runAfter":{"Apply_to_each":["Succeeded"]},"type":"Response","kind":"PowerApp","inputs":{"schema":{"type":"object","properties":{"collectedresultstext":{"title":"CollectedResultsText","type":"string","x-ms-content-hint":"TEXT","x-ms-dynamically-added":true}},"additionalProperties":{}},"statusCode":200,"body":{"collectedresultstext":"@{join(variables('CollectedResults'), ', ')\r\n}"}}}}},"connectionReferences":{"shared_mysql_1":{"connectionName":"ad774f3d5b7a4712ae00675eb4b9088a","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_mysql","tier":"NotSpecified","apiName":"mysql"}},"flowFailureAlertSubscribed":false,"isManaged":false}}