Microsoft.Flow/flows/0094cf83-bfe7-4c01-8053-2b72d5f9ef29/definition.json
{"name":"e69d5003-1413-b714-ed67-9011cd7aa382","id":"/providers/Microsoft.Flow/flows/e69d5003-1413-b714-ed67-9011cd7aa382","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Get Location Address","definition":{"metadata":{"workflowEntityId":"15144a5e-f47e-ef11-ac21-000d3a0a5e14","processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"81867338-c733-4404-8924-d321196e02b8","type":"User","tenantId":"46a0aecd-e8b0-409b-9472-3ea6193ea88f"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2024-10-02T06:58:41.8081777Z","connectionKeySavedTimeKey":"2024-10-02T06:58:41.8081777Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"e5094433-96c1-46fa-895a-acafff8c0d8d"},"type":"Request","kind":"PowerAppV2","inputs":{"schema":{"type":"object","properties":{"text":{"title":"Input","type":"string","x-ms-dynamically-added":true,"description":"latitude","x-ms-content-hint":"TEXT"},"text_1":{"title":"Input 1","type":"string","x-ms-dynamically-added":true,"description":"longitude","x-ms-content-hint":"TEXT"}},"required":["text","text_1"]}}}},"actions":{"HTTP":{"runAfter":{},"metadata":{"operationMetadataId":"5b9ed058-ad75-445d-9b4c-5cf2b5879cf8"},"type":"Http","inputs":{"method":"GET","uri":"https://nominatim.openstreetmap.org/reverse?format=json&lat=@{triggerBody()['text']}&lon=@{triggerBody()['text_1']}\n"}},"Parse_JSON":{"runAfter":{"HTTP":["Succeeded"]},"metadata":{"operationMetadataId":"4eb14c09-d881-44dd-b8de-b315637bbbc7"},"type":"ParseJson","inputs":{"content":"@body('HTTP')","schema":{"type":"object","properties":{"place_id":{"type":"integer"},"licence":{"type":"string"},"osm_type":{"type":"string"},"osm_id":{"type":"integer"},"lat":{"type":"string"},"lon":{"type":"string"},"display_name":{"type":"string"},"address":{"type":"object","properties":{"road":{"type":"string"},"house_number":{"type":"string"},"suburb":{"type":"string"},"city":{"type":"string"},"county":{"type":"string"},"state":{"type":"string"},"postcode":{"type":"string"},"country":{"type":"string"},"country_code":{"type":"string"}}}}}}},"Compose":{"runAfter":{"Parse_JSON":["Succeeded"]},"metadata":{"operationMetadataId":"97dd25de-7edb-471b-bee2-68c4838a1041"},"type":"Compose","inputs":"@{concat(body('Parse_JSON')?['address']?['house_number'], '  ', body('Parse_JSON')?['address']?['road'], '  ', body('Parse_JSON')?['address']?['suburb'], '  ', body('Parse_JSON')?['address']?['city'], '  ', body('Parse_JSON')?['address']?['state'], ' - ', body('Parse_JSON')?['address']?['postcode'], ' ', body('Parse_JSON')?['address']?['country'])}\n"},"Respond_to_a_Power_App_or_flow":{"runAfter":{"Compose":["Succeeded"]},"metadata":{"operationMetadataId":"68771e80-f6df-4215-a316-5ed0f9c4e263"},"type":"Response","kind":"PowerApp","inputs":{"statusCode":200,"body":{"formattedaddress":"@{outputs('Compose')}"},"schema":{"type":"object","properties":{"formattedaddress":{"title":"FormattedAddress","x-ms-dynamically-added":true,"type":"string"}}}}}}},"connectionReferences":{},"flowFailureAlertSubscribed":false,"isManaged":false}}